<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HotHotHot</title>
    <link rel="stylesheet" href="../assets/style.css">
</head>
<body>
    <nav>
        <a class="navBar" href="../index.html">Accueil</a>
        <a class="navBar" href="documentation.html">Documentation</a>
        <a class="navBar" href="profil.html">Profil</a>
        <a class="navBar" href="logout.html">Deconnexion</a>
    </nav>
    <h1>TODO : écrire les suivants</h1>
    <ul>
        <li>Présentation de l’équipe et du rôle de chaun.</li>
        <li>Outils utilisés et organisation (gestion de projet, dépôt git avec url), planning de réalisation.</li>
        <li>2 principales difficultés rencontrées et solution apportée</li>
        <li>Si vous deviez recommencer ce projet, que changeriez vous à vos pratiques ?</li>
    </ul>
</body>
</html>