<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HotHotHot</title>
    <link rel="stylesheet" href="../assets/style.css">
    <link rel="manifest" href="../manifest.webmanifest">
    <link rel="icon" href="../assets/images/favicon.ico" />
</head>
<body>
<nav>
    <a class="navBar" href="../index.html">Accueil</a>
    <a class="navBar" href="documentation.html">Documentation</a>
    <a class="navBar" href="profil.html">Profil</a>
    <a class="navBar" href="logout.html">Deconnexion</a>
</nav>
<h1>Documentation</h1>
<ul>
    <li>L'équipe se compose de : Belabbas Rayane (enregistrement service worker, instalation pwa), Alexandre Crespin (manifest-notification-cache-serveur), De Angelli Adam (onglets et un peu de css), Hourlay Enzo (l'observable, un peu de css et le local storage), Rousset Antonin (graphe et min/max).</li>
    <li>On s'est simplement servie de discord pour communiquer et se donner les tâches à réaliser (dépôt git : https://github.com/BELABBAS-Rayane-2225010aa/hothothot.git).</li>
    <li>L'une des principales difficultés de ce projet a été de faire fonctionner le certificat, la solution apportée a été alwaysdata</li>
    <li>La seconde principale difficultée cela a été le cache dans sa globalité, mais avec de la persévérance nous avons réussi</li>
    <li>Si on devrait changer quoi que ce soit dans ce projet se serait que tous les membres de l'équipe puissent se servir de Xampp pour avoir leur propore serveur en local</li>
</ul>
</body>
</html>