<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../assets/style.css">
    <link rel="manifest" href="../manifest.webmanifest">
    <link rel="icon" href="../assets/images/favicon.ico" />
</head>
<body>
    <nav>
        <a class="navBar" href="../index.html">Accueil</a>
        <a class="navBar" href="documentation.html">Documentation</a>
        <a class="navBar" href="profil.html">Profil</a>
        <a class="navBar" href="logout.html">Deconnexion</a>
    </nav>
    <h1>Vous êtes déconnecté</h1>
</body>
</html>