<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
    <nav>
        <a class="navBar" href="/index.html">Accueil</a>
        <a class="navBar" href="/View/documentation.html">Documentation</a>
        <a class="navBar" href="/View/logout.html">Déconnexion</a>
    </nav>
    <h1>Vous êtes déconnecté</h1>
</body>
</html>