<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profil</title>
    <link rel="stylesheet" href="../assets/style.css">
    <link rel="icon" href="../assets/images/favicon.ico" />
</head>
<body>
    <nav>
        <a class="navBar" href="../index.html">Accueil</a>
        <a class="navBar" href="documentation.html">Documentation</a>
        <a class="navBar" href="profil.html">Profil</a>
        <a class="navBar" href="logout.html">Deconnexion</a>
    </nav>
    <h1>Profil</h1>
    <p>Voici votre profil</p>
</body>
</html>